@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0px; */
    text-align: justify;
}

*>h1 {
    font-size: 1.5em;
}

*>h2 {
    font-size: 1.4em;
}

*>p {
    text-indent: 1.5em;
    font-weight: 500;
    ;
}

img {
    width: 100%;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
}



.iframe2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.destaque {
    color: #025951;
    text-shadow: 1px 0px 5px rgb(8 7 7 / 30%);
}

body {
    margin: 0px;
    background-color: #89cda5;
}

a.externo::after {
    content: '\00A0\1F517';
}


main {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 15px #023116b3;
    min-width: 320px;
    max-width: 800px;
    /* padding: 20px; */
    /* padding-top: 1px; */
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, #025951, #02735E, #038C3E);
    font-family: '' "Aref Ruqaa Ink", serif'';
    /* font-weight: 700; */
    font-style: normal;
    color: white;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

header>h1 {
    font-family: 'idroid', sans-serif;
    font-size: 1.5em;
    height: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
}

header>h2 {
    font-weight: 500;
    text-align: center;
}

nav {
    background-image: linear-gradient(to top, #02735E, #038C3E);
    text-align: left;
    font-family: "Aref Ruqaa Ink", serif;
    font-style: normal;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: 0px 11px 10px 0px black;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    background: hsla(0, 0%, 8%, 0);
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2FA866;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

#hire-me {
    background-color: #fff;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    transition: all 0.6s ease;
}

#hire-me:hover {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
}


/* nav > a {
    color: #00e013;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: #ffffff;
    color: #025951;
    border-radius: 5px;
    padding: 5px;
} */

article {
    border-radius: 10px;
    box-shadow: 10px 10px 15px #023116b3;
    padding: 20px;
    padding-top: 1px;
    margin: auto;
}


article>h1 {
    font-family: 'idroid', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #025951;
    border-radius: 10px;
    background: linear-gradient(to right, #04887b, #0290768c, #038c3e47);
}

article>h2 {
    font-family: 'idroid', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #025951;
    background: linear-gradient(to right, #04887b, #0290768c, #038c3e47);
}

div.video {
    background-color: #025951;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside {
    background-color: #5cbe7d7a;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: -3px;
    font-weight: bold;
    padding: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside>ul {
    font-size: smaller;
    columns: 2;
    list-style-position: inside;
    list-style-type: '✓\00A0\00A0';
}


aside>h3 {
    border-radius: 3px 3px 0px 0px;
    background-color: #2FA866;
    color: white;
    font-size: 1em;
    padding: 12px;
    margin: -14px -14px -3px -15px;
}


footer>p {
    text-align: center;
}