@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@font-face {
    font-family: 'ariata';
    src: url(Ariata-Font-Family/Ariata\ Stencil\ Medium.otf);
}

* {
    margin: 0;
    font-family: doto;
    font-weight: 900;
    padding: 0;
}

main {
    animation: growth 1s;
}

@media screen and (min-width: 1269px) {
    body {
        background: rgb(0, 0, 0);
    }

    body::-webkit-scrollbar {
        display: none;
    }

    main {
        background: rgb(241, 240, 240);
    }

    #login {
        display: flex;
        width: 100%;
    }

    #um {
        background: rgb(241, 240, 240);
        float: left;
        width: 30%;
        height: 100%;
        
        & h1 {
            font-size: 2.0em;
            margin-top: 20%;
            margin-left: 20%;
            font-family: doto;
            font-weight: 900;
        }

        & p {
            margin-top: 20%;
            font-size: 1.5em;
            margin-left: 20%;
        }

        & a {
            font-size: 1em;
            color: white;
            display: inline-block;
            background-color: black;
            border-radius: 3px;
            padding: 5px 15px 5px 15px;
            text-decoration: none;
            animation: fire 6s infinite;
            transition: all 0.2s ease-in-out;
        }
    }

    #um a:hover {
        background: rgb(241, 240, 240);
        color: black;
        text-decoration: underline;
    }

    #dois {
        float: right;
        width: 70%;
    }

    #dois img {
        max-width: 100%;
        height: 100%;
    }

    #aboutme {
        width: 100%;
        height: 100%;
    }

    .text-main {
        margin: 40px;
        text-align: center;
        font-family: doto;

        & h1 {
            font-weight: 900;
            text-decoration: underline rgba(0, 0, 0, 0.708);
        }
    }


    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: rgba(104, 104, 104, 0.024);
        border-radius: 15px;

        & p {
            font-size: 2em;
            text-decoration: none;
        }

        & li {
            font-size: 1.5em;
        }
    }


    .skills ul {
        list-style: none;
    }

    #footer {
        height: 100px;
        font-weight: 900;

        & a {
            text-decoration: none;
        }
    }

    .container-gradient {
        background: linear-gradient(180deg, rgba(241, 240, 240, 1) 0%, rgba(0, 0, 0, 0.369) 100%);
    }

    .mail:hover {
        color: rgb(97, 3, 3);
    }

    .linkedin:hover {
        color: rgb(0, 119, 181);
        width: 20px;
        height: 20px;
    }

    .instagram:hover {
        color: rgb(193, 53, 132);
        width: 20px;
        height: 20px;
    }

    .github:hover {
        background: rgba(5, 5, 5, 0.145);
        border-radius: 5px;
        width: 20px;
        height: 20px;
    }

    .skills-list {
        background: rgb(1, 0, 0);
        border-radius: 10px;
        box-shadow: 4px 6px 13px 0px black;
        padding-top: 10px;
        margin: 20px;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease-in-out;
        transform: skew(2deg);
    }

    .skills-list::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(129, 129, 129, 0.748), rgb(68, 68, 68), rgb(255, 255, 255));
        animation: rotation 10s alternate infinite;
        z-index: 1;
    }

    .skills-list::after {
        content: '';
        position: absolute;
        background: #000000;
        inset: 5px;
        border-radius: 15px;
        z-index: 1;
    }

    .skills-list ul, .skills-list p {
        z-index: 2;
        color: rgb(255, 255, 255);
        position: relative;
    }

    .skills-list:hover{
        transform: scale(1.15);
        background-color: black;
        color: white;
    }
}

/* mobile version */
@media screen and (max-width: 1268px) {
    * {
        font-family: 'ariata';
    }

    body {
        height: 100vh;
    }

    main {
        background: rgb(241, 240, 240);
        z-index: 0;
    }

    #login {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 1px -5px 20px 0px black;

        & a {
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            opacity: 1;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-size: 4vw;
        }

        & a:hover {
            text-decoration: underline rgba(255, 255, 255, 0.809);
        }
    }

    #um {
        position: absolute;
        width: 100%;
        max-width: 100%;
        height: auto;
        z-index: 1;

        & h1 {
            color: black;
            font-weight: 600;
            font-size: 5vw;
            margin-bottom: 10%;
        }

        & p {
            font-size: 5vw;
            animation: fire 4s infinite;
        }
    }


    .img-logo {
        width: 50%;
    }

    .campolink a {
        border-radius: 25px;
    }

    .campolink a:hover {
        background: wheat;
    }

    .img-principal {
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    .text-main {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;

        & h1 {
            font-size: 5vw;
            font-weight: 600;
            font-family: 'ariata';
            text-shadow: 9px 6px 5px gray;
        }
    }

    .skills {

        & p {
            font-family: 'ariata';
            font-size: 5vw;
            margin-top: 10px;
            text-shadow: 9px 6px 5px gray;
        }

        & ul {
            list-style: none;
            padding: 1px 0px 10px 10px;
            font-family: 'Courier New', Courier, monospace;
        }

        & li {
            color: rgba(52, 52, 52, 0.837);
            font-size: 4vw;
            font-family: 'Courier New';
        }
    }

    #footer {
        justify-content: center;

        & ul {
            padding: 0px;
        }
    }

    .mail {
        margin-bottom: 5px !important;
    }

    .mail:hover {
        color: rgb(97, 3, 3);
    }

    .linkedin:hover {
        color: rgb(0, 119, 181);
    }

    .instagram:hover {
        color: rgb(193, 53, 132);
    }

    .github:hover {
        background: rgba(5, 5, 5, 0.145);
    }

    .container-gradient {
        background: linear-gradient(180deg, rgba(241, 240, 240, 1) 0%, rgba(0, 0, 0, 0.108) 100%);
    }
}

@keyframes fire {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes growth {
    0% {
        transform: scale(0.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        
    }
}


@keyframes rotation {
    0% {
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(100%);
    }
}